/*Pie de pagina*/
.container-ft footer{
    width: 100%;
    padding: 20px 100px 20px 100px;
    background: #f7f7f7 ;
    margin-top: 2px ;
    line-height: 1.5;
}
.container-ft footer ul {
    list-style: none;
}
.container-ft footer a{
    color: #272727;
}
.pie-title {
    color: #272727;
    font-family: ’Merriweather’;
    text-align: center;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}
.pie-text{
text-align: center;
}
.pie-principal {
    padding: 1.25rem 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-wrap: wrap;*/
}
.pie-principal-item {
    padding: 1.25rem;
    min-width: 20rem;
}
/*@media only screen and (min-width: 29.8125rem) {
    .ft-main {
        justify-content: space-around;
    }
}
@media only screen and (min-width: 77.5rem) {
    .ft-main {
        justify-content: space-evenly;
    }
}*/
.container-ft footer img{
    width: 30px;
    height: 30px;
}
.pie-social {
    padding: 0 1.875rem 1.25rem;
}
.pie-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid; 
    padding-top: 1.25rem;
}
.pie-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
}
.container-ft .copyright {
    color: #272727;
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
}
